# eclipse (does anyone use this anymore?)
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml

# docs
docs/_site/
docs/.sass-cache/
docs/.jekyll-cache/
docs/.bundle/
docs/superpowers/

# Ignore everything in .idea (codestyles are now included because that's personal preference)
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data

# otros mas
test
generated

# Files from Forge MDK
forge*changelog.txt

run-data/
src/generated/resources/.cache

# vs code
.vscode
.cursor
